@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
   }

   footer {
    background-color: black; 
}

footer h1 {
    color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
}

footer p {
    color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    font-weight: lighter;
}

.image-1 h1 {
    font-family: 'Josefin Sans', sans-serif;
 }

 .image-1 h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
 }

 .image-1 p {
     color: hsl(0, 0%, 55%);
     font-family: 'Alata', sans-serif;
     line-height: 25px;
 }

 .image-deep-earth {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-deep-earth.jpg);
 }

 .image-night-arcade {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)),url(./images/mobile/image-night-arcade.jpg);
 }

 .image-soccer-team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-soccer-team.jpg);
 }

 .image-the-grid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-grid.jpg);
 }

 .image-from-above {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-from-above.jpg);
 }

 .image-pocket-borealis {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-pocket-borealis.jpg);  
 }

 .image-curiosity {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-curiosity.jpg);
 
 }

 .image-fisheye {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(./images/mobile/image-fisheye.jpg);
 }

 .images-text {
    padding: 45px 0px 20px 45px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    color: white;
 }
 
 .logo {
    color:hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
 }

 .text {
    color:hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
 }

@media all and (max-width: 375px) {
footer {
    text-align: center;
}

footer h1 {
    padding: 50px 0px 35px 0px;
}

footer p {
    padding-bottom: 35px;
}

img {
    margin-right: 35px;
    width: 24px;
    height:  16px;
    margin-top: 35px;
}

.desktop-nav { 
    display: none;
}

.header {
    height: 100vh;
    width: 100%;
 
    background-image: url(./images/mobile/image-hero.jpg); 
 
    background-size: cover;
    background-repeat: no-repeat;
}

 .logo {
    margin-left: 25px;
    margin-top: 25px;
 }

 footer img {
     margin: 15px 15px 15px 0px;
     height: auto;
 }

 .copyright {
    color: hsl(0, 0%, 55%);
 }

 .nav {
     display: flex; 
     justify-content: space-between;
 }
 
 .text {
    color:hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    border: 3px solid #f1f1f1;
    margin: 170px 20px;
    display: flex;
    align-items: center;
    max-width: 80%;
    font-size: 11vw;
    padding: 20px;
    text-align: left;
 }

 .image-1 {
    text-align: center;
 }

 .image-1 img {
    margin: 100px 20px 50px 20px;
    height: 100%;
    width: 90%;
 }

 .image-1 h1 {
    margin: 0px 20px 30px 20px;
    font-size: 9vw;
 }

 .image-1 h4 {
    border: 2px solid black;
    margin: 20px 120px 100px 120px;
    padding: 20px;
 }

 .image-1 p {
     color: hsl(0, 0%, 55%);
     font-family: 'Alata', sans-serif;
     line-height: 25px;
 }

 .image-deep-earth {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;
 }

 .image-night-arcade {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;
 }

 .image-soccer-team {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;
 }

 .image-the-grid {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat; 
 }

 .image-from-above {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;  
 }

 .image-pocket-borealis {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;  
 }

 .image-curiosity {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;  
 }

 .image-fisheye {
    margin: 0px 20px 30px 20px; 
    background-size: 95% 100%;
    background-position: center;
    background-repeat: no-repeat;  
 }

 .images-text {
    padding: 45px 0px 20px 45px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    color: white;
 }
}

@media only screen and (min-width: 1440px) {
    span {
        color:hsl(0, 0%, 100%);
        font-family: 'Alata', sans-serif;
       /* margin: 500px 0px 500px 10px; */
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .desktop-images {
        display:flex;
    }

    .header {
        height: 55vh;
        width: 100%;
        background-size: cover;
        background-image: url(./images/mobile/image-hero.jpg); 
        background-repeat: no-repeat;
        background-position: 0px -500px;
    }

    .hidden {
        display: none;
    }

    .logo {
        padding: 30px 0px 0px 100px;
    }

    .text {
        border: 3px solid #f1f1f1;
        margin: 170px 100px;
        display: flex;
        align-items: center;
        max-width: 30%;
        font-size: 3vw;
        padding: 30px;
        text-align: left;
     }

     .image-1 h4 {
        border: 2px solid black;
        margin: 20px 120px;
        padding: 20px;
     }

     .image-1 img {
        padding: 150px 0px 0px 150px;
     }
}